.php-form-translation-field > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.php-form-translation-field > ul:first-child > :not(.active) {
    display: none;
}

.php-form-translation-field > ul > li > a {
    text-decoration: none;
}

.php-form-translation-field > ul:last-child > li {
    display: inline-block;
}

.php-form-translation-field > ul:last-child > li > a {
    display: block;
    padding: 2px 8px;
    border: 1px solid #ddd;
    border-top: 0;
}

.php-form-translation-field > ul:last-child > .active > a {
    border-bottom-width: 3px;
    border-bottom-color: #607d8b;
    border-radius: 0 0 4px 4px;
}